<h1>Editing exercise session</h1>

<%= render "form", exercise_session: @exercise_session %>

<br>

<div>
  <%= link_to "Show this exercise session", @exercise_session %> |
  <%= link_to "Back to exercise sessions", exercise_sessions_path %>
</div>
